button
	border-radius		0.3em
	background-color	#eee
	margin				1em
	padding				0.5em
	border				none
	cursor				pointer
	box-shadow			0 0.1em 0.1em #777 , inset 0 0 0.1em #777
	transition			all 0.3s
	
	&:hover
		border-style		none
		box-shadow			0 0.2em 0.5em #555 , inset 0 0 0.1em #777